//
//  Debug.xcconfig
//  Marvel
//
//  Created by Anas Alhasani on 10/1/20.
//  Copyright © 2020 Anas Alhasani. All rights reserved.
//

#include "Settings/Configurations/Default.xcconfig"
#include "Pods/Target Support Files/Pods-Marvel/Pods-Marvel.debug.xcconfig"
#include "Pods/Target Support Files/Pods-MarvelTests/Pods-MarvelTests.debug.xcconfig"

APP_NAME = $(inherited) α
